<%- contentFor( 'body') %>

<div class="jumbotron">
    <h2>Usuários Cadastrados</h2>
    <p>Lista de usuários Cadastrados no sistema.</p>            
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Endereço</th>
            <th>Nascimento</th>
            <th>Altura</th>
            <th>Vota?</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>

            <% let linkRemove = "/cadastro/remove"; %>
            <% let linkUpdate = "/cadastro/update"; %>
            <% for(let index=0;index<users.length;index++){ %>
                <tr>
                    
                <td><%= users[index].name %></td>
                <td><%= users[index].email %></td>
                <td><%= users[index].address %></td>
                <td><%= users[index].birthday %></td>
                <td><%= users[index].height %></td>
                <td><%= users[index].vote %></td>
                <td><a href="<%= linkUpdate %>"><i class="fas fa-pen"></i></a>
                <td><a href="<%= linkRemove %>"><i class="fas fa-trash-alt"></i></a>

            <% } %>
        </tbody>
    </table>
</div>


<br>
<hr>
<br>
<h2>Cadastrar novo usuário</h2>
<form name="cadastro" action="#">
    <div class="form-group">
        <label for="_name">Nome:</label>
        <input type="text" name="_name" id="_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="_email">E-mail:</label>
        <input type="text" name="_email" id="_email" class="form-control">
    </div>
    <div class="form-group">
        <label for="_address">Endereço:</label>
        <input type="text" name="_address" id="_address" class="form-control">
    </div>
    <div class="form-group">
        <label for="_age">Idade:</label>
        <input type="number" name="_age" id="_age" class="form-control">
    </div>
    <div class="form-group">
        <label for="_heigth">Altura:</label>
        <input type="number" name="_height" id="_height" class="form-control">
    </div>
    <div>
        <label for="_vote">Vota?</label>
        <input type="checkbox" id="_vote" name="_vote"
               class="form-control">
      </div>
    
      <div class="form-group">

        <input type="button" value="Confirmar">

      </div>

</form>



<br>
<hr>
<br>
<!-- Nova tabela criada ao fim da página, será usada para listagem de usuários! -->
<div class="table-responsive-xl ">
    <h2>Lista de Usuários</h2>
    <p>Lista de usuários Cadastrados no sistema.</p>            
    <table class="table table-hover bg-light" id="list-users">
        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Idade</th>
            <th>Altura</th>
            <th>Vota?</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

</div>
